html, body, .container {
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#squareBtn{
  margin-bottom: 10px;

}

.square{
  border: 1px solid red;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.square:hover {
  background-color: black;
}