html, body {
    height: 100%;
    
  }
  .container {
    border: 1px solid #000;
    background-color: grey;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container > div {
    display: flex; 
    flex-basis: 6.25%;  
    justify-content: center;
    flex-direction: column;
  }
  .container > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;

  }
  /* .container > div > div:hover {
    background-color: #AD310B;
  } */
  